/../../Mesto_project/
/../../TG_Chat_bot/
/../
/../../Vite-React-Scss-pet/
/../../dev/
/../../diplom/
/../../memories/
/../../mesto-react-auth/
/../../mesto-react/
/../../my-server/
/../../react-mesto-remote-server/
/../../test/
/../../Архивы работ/
/../../Д. Флёнаган - JavaScript. Полное руководство. 7-е издание. (2021).pdf
../../Макеты/
/../../таблички с UDEMI/
